*{
  margin: 0;
  padding: 0;
  list-style: none
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Montserrat:wght@200&family=Poppins:wght@200;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spartan:wght@400;900&display=swap');

body{
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
}

/* ----------nav bar----------------*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Kaushan+Script&family=Montserrat:wght@200&family=Poppins:wght@200;400;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Spartan:wght@400;900&display=swap');

a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  width: 110px;
  text-align: center;
}


#top-bar{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.315);
  width: 100%;
  z-index: 1500;
  border-bottom: 1px rgba(255, 255, 255, 0.295) solid;
}


#top-bar nav ul{
  display: flex;
  padding: 5px;
  float: left;

}

#top-bar nav ul li{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: 13px;
  text-align: center;
  padding-bottom: 3px;
  padding: 5px;
  border-radius: 5px;
  width: 75px;
  
}

#top-bar nav ul li:hover{
  background-color: rgb(255, 255, 255);
  color: black;
  transition: 0.4s ease;
  cursor: pointer;
}


#top-bar nav ul p{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  width: 90px;
  margin-right: 10px;
}

#top-bar nav ul p{
  font-weight: bold;
  font-family: 'The Nautigal', cursive;
  font-size: 16px;
  text-align: center;
  color: rgba(0, 255, 170, 0.993);
  box-sizing: border-box;
  cursor: pointer;
}

/* ----------nav bar end----------------*/

#main-div{
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: rgb(222, 131, 77); */
  margin: 0px auto;
  min-height: 20vh;
  /* padding: 5px; */
}

.tital{
  background-image: url("./image/topic-background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blure(10px);
  width: 100%;
  height: 40vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: right;

}

.tital h1{
  width: 30vw;
  height: fit-content;
  padding: 5px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px 0px 0px 10px;
  font-size: 40px;
  font-family: 'Comfortaa', cursive;
}

.about-logo-div{
  position: relative;
  display: flex;
  height: auto;

  /* background-color: black; */
}

.about-us-left-side{
  position: relative;
  background-color: #ffffff;
  width: 59%;
  padding: 15px;
  float: left;
  display: flex;
  align-content: center;
  justify-content: center;
  /* border-right: 1px black solid; */
  margin-top: 10px;
  height: 300px;
}

.about-us-left-side-content h1{
  font-size: 30px;
  font-family: 'Spartan', sans-serif;
  color: rgb(154, 6, 128);
}

.about-us-left-side-content p{
  text-align: justify;
  margin: 10px 20px;
  font-size: 19px;
  font-family: 'Spartan', sans-serif;
  line-height: 30px;
  color: rgb(15, 44, 103);
}

.about-us-left-side-content a{
  color: rgb(10, 33, 78);
}

.logo-write-side{
  position: relative;
  background-color: #fff;
  width: 40%;
  padding: 50px 10px;
  float: right;
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 10px;
}


.logo-write-side{
  display: inline-block;
  text-align: center;
  justify-content: center;
}

.logo-write-side h1{
  color: rgb(1,254,170);
  font-family: 'The Nautigal', cursive;
  font-size: 75px;
  display: block;
}


.logo-write-side p{
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  padding-top: 10px;
  padding-left: 7px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}


/* --------FOOTER----------- */
/* --------FOOTER----------- */
/* --------FOOTER----------- */

footer{
  height: auto;
  width: 100%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  padding-top: 40px;
}

footer .firstLine{
  position: relative;
  width: 95%;
  display: block;
}

footer ol{
  text-align: center;
  list-style-position: inside;
  position: relative;
  
}

footer ol li{
  display: inline-block;
  height: 100%;
  margin-top: 25px;
}

footer .navigation{
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: bold; */
}

footer .navigation a{
  color: rgb(206, 206, 206);
  font-size: 15px;
  font-weight: bold;
  display: block;
  margin-bottom: 15px;
}

footer .navigation a:hover{
  color: red;
  transition: 0.3s ease;
}

footer .phoneNumber{
  position: relative;
  float: left;
  margin-left: 100px;
}

footer .phoneNumber h3,h4{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(206, 206, 206);
  font-size: 15px;
}

footer .phoneNumber h4{
  color: rgb(245, 245, 245);
}


footer .logo{
  position: relative;
  float: right;
  margin-right: 100px;
}

footer .logo h1{
  color: rgb(1,254,170);
  font-family: 'The Nautigal', cursive;
  font-size: 75px;
}

footer .logo p{
  font-size: 15px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 10px;
  padding-top: 10px;
  padding-left: 7px;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

footer .SecondLine{
  position: relative;
  height: auto;
  width: 90%;
  display: block;
  margin: 50px auto;
  border-top: 2px white solid;
  padding-top: 30px;
}

footer .SecondLine .icon{
  width: 100%;
  display: inline-block;
  text-align: center;
}

.icon i{
  font-size: 25px;
  padding: 30px;
  padding-bottom: 20px;
  color: rgb(184, 181, 11);
}

.SecondLine .text{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(216, 216, 216);
  font-weight: 500;
}

.SecondLine .termsAndCondition{
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(216, 216, 216);
}

.SecondLine .termsAndCondition a{
  padding: 0 15px;
  color: rgb(216, 216, 216);
}







